# Data Version Control
dvc[gdrive]

# Deep Learning
torch
torchvision
ultralytics

# Computer Vision
opencv-python

# Backend API
fastapi
uvicorn

# Utilities
numpy
pandas
matplotlib
tqdm
pyyaml
typing_extensions>=4.6.0

# Experiment Tracking
clearml

# Environment
python-dotenv
